@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Poppins:wght@400;700&display=swap');

:root {
    --main-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif; 
    --main-text-color: white;
    --secondary-text-color: rgba(255, 255, 255, 0.75);
    --transparent-text-color: rgba(255, 255, 255, 0.5);
    --elements-background-color: rgba(255, 255, 255, 0.2);
    --main-color: #D1335B;
}

.b-bottom {
    position: relative;
}

.b-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left,rgba(197, 202, 213, 0.416) 0,hsla(0, 0%, 0%, 0) 70%);
}

.body {
    overflow: hidden;
}


/* Navigation */

.body__nav {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
}

/* Navigation Menu */

.menu {
    list-style: none;
}

.menu__item:hover .menu__link {
    text-decoration: none;
}

.menu__item:hover .menu__icon,
.menu__item--active .menu__icon {
    background-size: 200% 200%;
    color: black;
}

.menu__item:hover .menu__text,
.menu__item--active .menu__text {
    color: var(--main-text-color);
}

.menu__icon {
    height: 2rem;
    width: 2rem;
    font-size: 0.7rem;
    color: var(--main-text-color);
    background-color: var(--elements-background-color);
    background-image: radial-gradient(circle at center , white 50%, var(--elements-background-color) 50%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    border-radius: 50%;
    transition: background-size .2s, color .2s;
}

.menu__text {
    font-family: var(--secondary-font-family);
    color: var(--transparent-text-color);
}

/* Mobile menu */

.mobile-menu-burger {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 3;
    width: 35px;
    height: 35px;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-burger::before,
.mobile-menu-burger::after,
.mobile-menu-burger__bar {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--elements-background-color);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-burger::before {
    top: 0;
}

.mobile-menu-burger__bar {
    top: 44%;
}

.mobile-menu-burger::after {
    bottom: 0;
}

.mobile-menu-burger--opened::before {
    transform: rotate(45deg) translate3d(0, -50%, 0);
    width: 141.42%;
    transform-origin: top left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened::after {
    transform: rotate(-45deg) translate3d(0, 50%, 0);
    width: 141.42%;
    transform-origin: bottom left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened .mobile-menu-burger__bar {
    transform: scale(0.1);
}

.mobile-menu {
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--main-color);
    height: 100dvh;
}

.mobile-menu--opened {
    transform: translate3d(0, 0, 0);
}

.mobile-menu::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 25em;
    background: var(--main-color);
    content: "";
    transform: skewX(15deg) translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: bottom left; 
}

.mobile-menu--opened::before {
    transform: skewX(15deg) translate3d(0, 0, 0);
}

.mobile-menu__item {
    transform: translate3d(-200%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu__item--opened {
    transform: translate3d(0, 0, 0);
}

.mobile-menu__item:nth-child(1) {
    transition-delay: 0s, 100ms;
}

.mobile-menu__item:nth-child(2) {
    transition-delay: 0s, 200ms;
}

.mobile-menu__item:nth-child(3) {
    transition-delay: 0s, 300ms;
}

.mobile-menu__item:nth-child(4) {
    transition-delay: 0s, 400ms;
}

.mobile-menu__item:nth-child(5) {
    transition-delay: 0s, 500ms;
}

.mobile-menu__link:hover {
    text-decoration: none;
}

/* Background */

.background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, var(--main-color) -14%, #00152e 84%);
}

/*
.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/

/* Main */

.main {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main--closed {
    filter: blur(3px);
    transform: translate3d(100px, 0, 0);
    cursor: pointer;
}


/* Swiper */

.swiper-container {
    height: 600px;
}

.swiper-container--closed {
}

.swiper-slide {
    overflow-y: scroll;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
  }


/* Main Section */

.main-section__title {
    font-family: var(--main-font-family);
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--main-text-color);
}

.main-section__text {
    font-family: var(--secondary-font-family);
    font-size: 1.5rem;
    line-height: 1.625;
    color: var(--main-text-color);
    height: 40px;
}

.main-section__social-link {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    transition: color ease-in-out .2s;
}

.main-section__social-link:hover {
    color: var(--main-text-color);
}

.button-link {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    border-radius: 50px;
    border: 2px solid var(--transparent-text-color);
    position: relative;
    width: max-content;
    min-height: 60px;  
}

.button-link:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0px;
    right: 100%;
    border-radius: 50px;
    transition: all ease-in-out .2s;
}

.button-link:hover {
    color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    text-decoration: none;
}

.button-link:hover::before {
    right: 0;
    background: var(--elements-background-color);
}

/* Section */

.section {
    position: relative;    
}

.section__title {
    font-family: var(--main-font-family);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.section__title span::before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--elements-background-color), rgba(255, 0, 174, 0) 100%);
    left: -10px;
    z-index: -1;
}

.section__subtitle {
    font-family: var(--secondary-font-family);
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.section__text {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    line-height: 1.7;
}

.section__text span {
    color: var(--main-text-color);
    font-weight: 600;
    letter-spacing: 1px;
}

/* Resume Items */

.resume-item__date {
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 5px;
    font-family: var(--secondary-font-family);
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

.resume-item__date--active {
    color: var(--main-text-color);
    font-weight: 600;
    border-width: 2px;
}

.resume-item__job-title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: 600; 
}

.resume-item__company {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
}

/* Pies */

.section__pie {
    position: relative;
}

.pie {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color) 0%, var(--elements-background-color) 0%);
    -webkit-mask:radial-gradient(farthest-side, transparent calc(100% - 12px),#fff calc(100% - 12px + 1px));
            mask:radial-gradient(farthest-side, transparent calc(100% - 12px),#fff calc(100% - 12px + 1px));
}

.pie__percentage {
    position: absolute;
    top: calc(110px / 2);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.pie__title, 
.pie__percentage {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
}

.pie__title {
    font-weight: 600;
}

/* Progresses */

.progress-bar__title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.progress-bar__circle {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: var(--elements-background-color);
    transition: background-color .5s ease;
}

/* Small devices (landscape phones, 576px and up, sm) */
@media only screen and (min-width: 576px) { 
    
    .progress-bar__circle {
        width: 27px;
        height: 27px;
        margin-right: 7px;
    }
}

/* Medium devices (tablets, 768px and up, md) */
@media only screen and (min-width: 768px) {

    .background::before {
        background: linear-gradient(to left, var(--main-color) -10%, #00152e 77%)
    }

    .main-section__title {
        font-size: 6.5rem;
    }

    .section__title {
        font-size: 3rem;
    }

    .section__text {
        font-size: 1.25rem;
    }

    .progress-bar__circle {
        width: 21px;
        height: 21px;
        margin-right: 0;
    }
}

/* Large devices (desktops, 992px and up, lg) */
@media only screen and (min-width: 992px) {


    .progress-bar__circle {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}

/* X-Large devices (large desktops, 1200px and up, xl) */
@media only screen and (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up xxl) */
@media only screen and (min-width: 1400px) {

}