@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Poppins:wght@400;700&display=swap');

:root {
    --main-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif; 
    --main-text-color: white;
    --secondary-text-color: rgba(255, 255, 255, 0.75);
    --transparent-text-color: rgba(255, 255, 255, 0.5);
    --elements-background-color: rgba(255, 255, 255, 0.2);
    --main-color: #D1335B;
    --section-background-color: rgba(0, 0, 0, 0.45);
}

* {
    padding: 0;
    margin: 0;
}

.b-bottom {
    position: relative;
}

.b-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left,rgba(197, 202, 213, 0.416) 0,hsla(0, 0%, 0%, 0) 70%);
}

a {
    text-decoration: none;
}



/* html, body */

html,
body {  
    height: 100%;
    overflow: hidden;
}

/* Background */

.background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, var(--main-color) -14%, #00152e 84%);
}

/*
.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/

/* Navigation Menu */

.menu {
    list-style: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 2;
    display: none;
    margin-left: 1.5rem;
}

.menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.menu__item:hover .menu__icon,
.menu__item--active .menu__icon {
    background-size: 200% 200%;
    color: black;
}

.menu__item:hover .menu__text,
.menu__item--active .menu__text {
    color: var(--main-text-color);
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__icon {
    height: 2rem;
    width: 2rem;
    font-size: 0.7rem;
    color: var(--main-text-color);
    background-color: var(--elements-background-color);
    background-image: radial-gradient(circle at center , white 50%, var(--elements-background-color) 50%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    border-radius: 50%;
    transition: background-size .2s, color .2s;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.menu__text {
    font-family: var(--secondary-font-family);
    color: var(--transparent-text-color);
}

/* Mobile menu */

.mobile-menu-burger {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 3;
    width: 35px;
    height: 35px;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-burger::before,
.mobile-menu-burger::after,
.mobile-menu-burger__bar {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--elements-background-color);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-burger::before {
    top: 0;
}

.mobile-menu-burger__bar {
    top: 44%;
}

.mobile-menu-burger::after {
    bottom: 0;
}

.mobile-menu-burger--opened::before {
    transform: rotate(45deg) translate3d(0, -50%, 0);
    width: 141.42%;
    transform-origin: top left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened::after {
    transform: rotate(-45deg) translate3d(0, 50%, 0);
    width: 141.42%;
    transform-origin: bottom left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened .mobile-menu-burger__bar {
    transform: scale(0.1);
}

.mobile-menu {
    list-style: none;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--main-color);
    height: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}

.mobile-menu--opened {
    transform: translate3d(0, 0, 0);
}

.mobile-menu::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 22em;
    background: var(--main-color);
    content: "";
    transform: skewX(15deg) translate3d(-100%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: bottom left; 
}

.mobile-menu--opened::before {
    transform: skewX(15deg) translate3d(0, 0, 0);
}

.mobile-menu__item {
    transform: translate3d(-200%, 0, 0);
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.mobile-menu__item:hover .menu__icon {
    background-size: 200% 200%;
    color: black;
}

.mobile-menu__item--opened {
    transform: translate3d(0, 0, 0);
}

.mobile-menu__item:nth-child(1) {
    transition-delay: 100ms;
}

.mobile-menu__item:nth-child(2) {
    transition-delay: 200ms;
}

.mobile-menu__item:nth-child(3) {
    transition-delay: 300ms;
}

.mobile-menu__item:nth-child(4) {
    transition-delay: 400ms;
}

.mobile-menu__item:nth-child(5) {
    transition-delay: 500ms;
}

.mobile-menu__link {
    display: flex;
    align-items: center;
}

/* Desktop Language Switcher */

.nav__lang-switcher {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 999;
    width: 60px;
    display: none;
}

.nav__lang {
    -webkit-box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    width: max-content;
}

.lang__icon {
    width: 35px;
    display: block;
}

.lang--active {
    cursor: pointer;
}

.nav__languages {
    list-style: none;
    height: 0;
    transition: height 0.3s ease-out;
    overflow: hidden;
}

.nav__lang-switcher:hover .nav__languages {
    height: 100px;
    transition: height 0.3s ease-in;
}

/* Mobile Language Switcher */

.mobile-menu__lang-switcher {
    position: absolute;
    bottom: 15px;
    left: 30px;
    z-index: 999;
    display: flex;
    height: 35px;
}

.mobile-menu__lang {
    -webkit-box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    height: max-content;
    margin-right: 15px;
}

.mobile-menu__languages {
    display: flex;
    list-style: none;
    overflow: hidden;
    width: 0;
    transition: width 0.3s ease-out;
}

.mobile-menu__lang-switcher:hover .mobile-menu__languages {
    width: 100px;
    transition: width 0.3s ease-in;
}

/* Main */

.main {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main--closed {
    filter: blur(3px);
    transform: translate3d(100px, 0, 0);
    cursor: pointer;
    user-select: none;
}

/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto;
}

/* Main Section */

.main-section__subtitle {
    font-family: var(--secondary-font-family);
    font-size: 1.5rem;
    line-height: 1.625;
    color: var(--main-text-color);
    height: 40px;
    margin: 1.5rem 0;
}

.main-section__title, 
.main-section__subtitle {
    text-align: center;
    padding: 0 !important;
}

/* Main photo */

.main-photo {
    display: block;
    position: relative;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 25px 0 var(--main-color);
    -moz-box-shadow: 0 0 25px 0 var(--main-color);
    box-shadow: 0 0 25px 0 var(--main-color);
}

.main-photo__inner {
    background-image: url(./322377981_1211675246437626_4673227389926227388_n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
}

/* Scroll/Swipe buttons */

.scroll-button, .swipe-button {
    color: var(--main-text-color);
    font-family: var(--secondary-font-family);
}

.scroll-button:hover, .swipe-button:hover {
    color: var(--transparent-text-color);
}

/* Scroll button */

.scroll-button__icon {
    width: 25px;
    height: 42px;
    border: 1px solid var(--transparent-text-color);
    display: block;
    border-radius: 50px;
    position: relative;
    margin: 5px auto;
}

.scroll-button__icon::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 6px;
    height: 6px;
    border-radius: 16px;
    background: var(--main-text-color);
    transition: all 0.3s cubic-bezier(0.25, 0.75, 0.2, 1);
}

.scroll-button:hover .scroll-button__icon::after {
    top: 26px;
}

/* Swipe button */

.swipe-button__icon {
    width: 42px;
    height: 25px;
    border: 1px solid var(--transparent-text-color);
    display: block;
    border-radius: 50px;
    position: relative;
    margin: 5px auto;
}

.swipe-button__icon::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 8px;
    transform: translate3d(0, -50%, 0);
    width: 6px;
    height: 6px;
    border-radius: 16px;
    background: var(--main-text-color);
    transition: all 0.3s cubic-bezier(0.25, 0.75, 0.2, 1);
}

.swipe-button:hover .swipe-button__icon::after {
    left: 26px;
}

/* Button */

.button-link {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    border-radius: 50px;
    border: 2px solid var(--transparent-text-color);
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 20px;
}

.button-link:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0px;
    right: 100%;
    border-radius: 50px;
    transition: all ease-in-out .2s;
}

.button-link:hover {
    color: var(--secondary-text-color);
    border: 2px solid var(--main-text-color);
}

.button-link:hover::before {
    right: 0;
    background: var(--elements-background-color);
}

/* Section */

.section__inner {
    --padding-left: 15px;
    --padding-right: 15px;
    --padding-top: 1.5rem;
    --padding-bottom: 1.5rem;
    width: calc(100% - (var(--padding-left) + var(--padding-right)));
    height: calc(100% - (var(--padding-top) + var(--padding-bottom)));
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.section__title {
    font-family: var(--main-font-family);
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-text-color);
    padding-bottom: 1.5rem;
}

.section__title span::before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--elements-background-color), rgba(255, 0, 174, 0) 100%);
    left: -10px;
    z-index: -1;
}

.section__subtitle {
    font-family: var(--secondary-font-family);
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--main-text-color);
    text-transform: uppercase;
    padding: 1.5rem 0;
    margin: 0;
}

.section__icon {
    margin-right: 0.8rem;
}

.section__text {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    line-height: 1.7;
}

.section__text:not(:last-child) {
    margin-bottom: 1rem;
}

.section__social-links {
    text-align: center;
    margin: 1.5rem 0;
}

.section__text span {
    color: var(--main-text-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.section__social-link {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    transition: color ease-in-out .2s;
}

.section__social-link:hover {
    color: var(--main-text-color);
}

.section__button-links {
    display: flex;
    justify-content: center;
}

.section__footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.section__footer--mobile {
    text-align: center;
    margin-top: 2rem;
}

/* Resume Items */

.resume-item {
    padding: 1.5rem 0;
}

.resume-item__date {
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 5px;
    font-family: var(--secondary-font-family);
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    width: max-content;
    margin-bottom: 1rem;
}

.resume-item__date--active {
    color: var(--main-text-color);
    font-weight: 600;
    border-width: 2px;
}

.resume-item__job-title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: 600; 
    margin-bottom: 0.5rem;
}

.resume-item__company {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
}

/* Pies */

.section__pies {
    padding: 1.5rem 0;
}

.section__pie {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__pie:not(:last-child) {
    margin-bottom: 1.5rem;
}

.pie {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color) 0%, var(--elements-background-color) 0%);
    -webkit-mask:radial-gradient(farthest-side, transparent calc(100% - 12px),#fff calc(100% - 12px + 1px));
            mask:radial-gradient(farthest-side, transparent calc(100% - 12px),#fff calc(100% - 12px + 1px));
    margin-bottom: 0.5rem;
}

.pie__percentage {
    position: absolute;
    top: calc(110px / 2);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.pie__title, 
.pie__percentage {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
}

.pie__title {
    font-weight: 600;
}

/* Progress bars */

.section__progress-bars {
    padding: 1.5rem 0;
}

.section__progress-bar:not(:last-child) {
    margin-bottom: 1rem;
}

.progress-bar__title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.progress-bar__circle {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: var(--elements-background-color);
    transition: background-color .5s ease;
}

/* Small devices (landscape phones, 576px and up, sm) 
@media only screen and (min-width: 576px) { } */

/* Medium devices (tablets, 768px and up, md) */
@media only screen and (min-width: 768px) {

    .background::before {
        background: linear-gradient(to left, var(--main-color) -10%, #00152e 77%)
    }

    .mobile-menu::before {
        width: 26em;
    }

    .main-section__title, 
    .main-section__subtitle,
    .section__social-links {
        text-align: left;
    }

    .section__title {
        font-size: 3rem;
    }

    .section__text {
        font-size: 1.25rem;
    }

    .section__button-links {
        justify-content: start;
    }

}

/* Large devices (desktops, 992px and up, lg) */
@media only screen and (min-width: 992px) {

    .section__footer {
        display: block;
    }

    .section__footer--mobile {
        display: none;
    }

    .progress-bar__circle {
        width: 22px;
        height: 22px;
    }

}

@media only screen and (min-width: 1200px) {

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-menu-burger,
    .mobile-menu {
        display: none;
    }

    .mobile-menu__lang-switcher {
        display: none;
    }

    .nav__lang-switcher {
        display: block;
    }

    .container {
        max-width: 1140px;
    }

    .progress-bar__circle {
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up xxl) 
@media only screen and (min-width: 1400px) {} */
