@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --main-font-family: 'Poppins', 'Montserrat', sans-serif;
    --secondary-font-family: 'Open Sans', sans-serif; 
    --main-text-color: white;
    --secondary-text-color: rgba(255, 255, 255, 0.75);
    --transparent-text-color: rgba(255, 255, 255, 0.5);
    --elements-background-color: rgba(255, 255, 255, 0.2);
    --main-color: #3a6186;
    --main-color-lighter: #4d81b3;
    --section-background-color: rgba(0, 0, 0, 0.45);
}

* {
    padding: 0;
    margin: 0;
}

.b-bottom {
    position: relative;
}

.b-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: -o-radial-gradient(left,ellipse,rgba(197, 202, 213, 0.416) 0,hsla(0, 0%, 0%, 0) 70%);
    background: radial-gradient(ellipse at left,rgba(197, 202, 213, 0.416) 0,hsla(0, 0%, 0%, 0) 70%);
}

a {
    text-decoration: none;
}

/* html, body */

html,
body {  
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Background */

.background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.background::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(149deg, #89253e -10%, #3a6186 100%);
    background: -o-linear-gradient(149deg, #89253e -10%, #3a6186 100%);
    background: linear-gradient(149deg, #89253e -30%, #2f5e89 100%);
}

/*
.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/

/* Desktop Menu */

.menu {
    list-style: none;
}

.nav__menu {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 2;
    display: none;
    margin-left: 1.5rem;
} 

.menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.menu__item:hover .menu__icon,
.menu__item--active .menu__icon {
    background-size: 200% 200%;
    color: black;
}

.menu__item:hover .menu__text,
.menu__item--active .menu__text {
    color: var(--main-text-color);
}

.menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
    height: 2rem;
    width: 2rem;
    font-size: 0.7rem;
    color: var(--main-text-color);
    background-color: var(--elements-background-color);
    background-image: -o-radial-gradient(center , circle , white 50%, var(--elements-background-color) 50%);
    background-image: radial-gradient(circle at center , white 50%, var(--elements-background-color) 50%);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    border-radius: 50%;
    -webkit-transition: background-size .2s, color .2s;
         -o-transition: background-size .2s, color .2s;
            transition: background-size .2s, color .2s;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
       justify-content: center;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    margin-right: 0.5rem;
}

.menu__text {
    font-family: var(--secondary-font-family);
    color: var(--transparent-text-color);
}

/* Mobile Menu Burger */

.mobile-menu-burger {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: opacity .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav__mobile-menu-burger {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 3;
}

.mobile-menu-burger::before,
.mobile-menu-burger::after,
.mobile-menu-burger__bar {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--elements-background-color);
    -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu-burger::before {
    top: 0;
}

.mobile-menu-burger__bar {
    top: 44%;
}

.mobile-menu-burger::after {
    bottom: 0;
}

.mobile-menu-burger--opened::before {
    -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
        -ms-transform: rotate(45deg) translate3d(0, -50%, 0);
            transform: rotate(45deg) translate3d(0, -50%, 0);
    width: 141.42%;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened::after {
    -webkit-transform: rotate(-45deg) translate3d(0, 50%, 0);
        -ms-transform: rotate(-45deg) translate3d(0, 50%, 0);
            transform: rotate(-45deg) translate3d(0, 50%, 0);
    width: 141.42%;
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
         -o-transform-origin: bottom left;
            transform-origin: bottom left;
    background-color: var(--main-text-color);
}

.mobile-menu-burger--opened .mobile-menu-burger__bar {
    -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
            transform: scale(0.1);
}

/* Mobile Menu */

.mobile-menu {
    list-style: none;
}

.mobile-menu--opened {
    -webkit-transform: translate3d(0, 0, 0) !important;
            transform: translate3d(0, 0, 0) !important;
}

.mobile-menu--opened::before {
    -webkit-transform: skewX(15deg) translate3d(0, 0, 0) !important;
            transform: skewX(15deg) translate3d(0, 0, 0) !important;
}

.nav__mobile-menu {
    height: 100%;
    position: fixed;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    padding-left: 1.5rem;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: var(--main-color);
}

.nav__mobile-menu::before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 22em;
    background: #3a6186;
    content: "";
    -webkit-transform: skewX(15deg) translate3d(-100%, 0, 0);
            transform: skewX(15deg) translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1); 
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left; 
}

.mobile-menu__item {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.mobile-menu__item:hover .menu__icon {
    background-size: 200% 200%;
    color: black;
}

.mobile-menu__item--opened {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.mobile-menu__item:nth-child(1) {
    -webkit-transition-delay: 100ms;
         -o-transition-delay: 100ms;
            transition-delay: 100ms;
}

.mobile-menu__item:nth-child(2) {
    -webkit-transition-delay: 200ms;
         -o-transition-delay: 200ms;
            transition-delay: 200ms;
}

.mobile-menu__item:nth-child(3) {
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;
}

.mobile-menu__item:nth-child(4) {
    -webkit-transition-delay: 400ms;
         -o-transition-delay: 400ms;
            transition-delay: 400ms;
}

.mobile-menu__item:nth-child(5) {
    -webkit-transition-delay: 500ms;
         -o-transition-delay: 500ms;
            transition-delay: 500ms;
}

.mobile-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -ms-flex-align: center;  
          align-items: center;
}

/* Desktop Language Switcher */

.nav__lang-switcher {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 999;
    width: 60px;
    display: none;
}

.nav__lang {
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    margin-bottom: 10px;
    width: max-content;
}

.lang__icon {
    width: 35px;
    display: block;
}

.lang--active {
    cursor: pointer;
}

.nav__languages {
    list-style: none;
    height: 0;
    -webkit-transition: height .3s ease-out;
         -o-transition: height .3s ease-out;
            transition: height .3s ease-out;
    overflow: hidden;
}

.nav__lang-switcher:hover .nav__languages {
    height: 100px;
    -webkit-transition: height .3s ease-in;
         -o-transition: height .3s ease-in;
            transition: height .3s ease-in;
}

/* Mobile Language Switcher */

.mobile-menu__lang-switcher {
    position: absolute;
    bottom: 15px;
    left: 30px;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
}

.mobile-menu__lang {
    box-shadow: 6px 6px 10px -2px rgba(0,0,0,0.75);
    height: max-content;
    margin-right: 15px;
}

.mobile-menu__languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    overflow: hidden;
    width: 0;
    -webkit-transition: width .3s ease-out;
         -o-transition: width .3s ease-out;
            transition: width .3s ease-out;
}

.mobile-menu__lang-switcher:hover .mobile-menu__languages {
    width: 100px;
    -webkit-transition: width .3s ease-in;
         -o-transition: width .3s ease-in;
            transition: width .3s ease-in;
}

/* Main */

.main {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
         -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main--closed {
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    height: 100% !important;
}

.swiper-slide {
    margin: auto 0;
}

.swiper-scrollbar-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1.5rem 1rem;
}

/* Main Section */

.main-section__title {
    text-shadow: 3px 2px 14px rgb(0 0 0 / 58%);
}

.main-section__subtitle {
    height: 40px;
    text-transform: none !important;
    font-size: 1.5rem;
}

.main-section__title, 
.main-section__subtitle {
    text-align: center;
}

/* Main Photo */

.main-section__photo {
    display: block;
    position: relative;
    padding-bottom: calc(100% - 36px);
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 25px 0 var(--main-color);
}

.main-photo__inner {
    background-image: url(./20200827_185302.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
}

/* Scroll/Swipe Buttons */

.scroll-button, .swipe-button {
    color: var(--main-text-color);
    font-family: var(--secondary-font-family);
    display: inline-block;
}

.scroll-button:hover, .swipe-button:hover {
    color: var(--transparent-text-color);
}

/* Scroll button */

.scroll-button__icon {
    width: 25px;
    height: 42px;
    border: 1px solid var(--transparent-text-color);
    display: block;
    border-radius: 50px;
    position: relative;
    margin: 5px auto;
}

.scroll-button__icon::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    width: 6px;
    height: 6px;
    border-radius: 16px;
    background: var(--main-text-color);
    -webkit-transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
         -o-transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
            transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
}

.scroll-button:hover .scroll-button__icon::after {
    top: 26px;
}

/* Swipe button */

.swipe-button__icon {
    width: 42px;
    height: 25px;
    border: 1px solid var(--transparent-text-color);
    display: block;
    border-radius: 50px;
    position: relative;
    margin: 5px auto;
}

.swipe-button__icon::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 8px;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    width: 6px;
    height: 6px;
    border-radius: 16px;
    background: var(--main-text-color);
    -webkit-transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
         -o-transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
            transition: all .3s cubic-bezier(0.25, 0.75, 0.2, 1);
}

.swipe-button:hover .swipe-button__icon::after {
    left: 26px;
}

/* Button */

.button-link {
    font-family: var(--secondary-font-family);
    color: black;
    font-weight: 600;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--main-text-color);
    position: relative;
}

.button-link:before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: 100%;
    border-radius: 50px;
    -webkit-transition: all ease-in-out .2s;
         -o-transition: all ease-in-out .2s;
            transition: all ease-in-out .2s;
}

.button-link:hover {
    color: var(--main-text-color);
}

.button-link:hover::before {
    right: -1px;
    background: var(--main-color);
}

.button-link span {
    position: relative;
    z-index: 999;
}

/* Section */

.title {
    font-family: var(--main-font-family);
    font-size: 2.5rem;
    color: var(--main-text-color);
}

.title span::before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, var(--elements-background-color), rgba(255, 0, 174, 0) 100%);
    background: -o-linear-gradient(left, var(--elements-background-color), rgba(255, 0, 174, 0) 100%);
    background: linear-gradient(90deg, var(--elements-background-color), rgba(255, 0, 174, 0) 100%);
    left: -10px;
    z-index: -1;
}

.section__title {
    padding-bottom: 1.5rem;
}

.subtitle {
    font-family: var(--secondary-font-family);
    font-size: 1.58rem;
    font-weight: 600;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.section__subtitle {
    padding: 1.5rem 0;
}

.section__icon {
    margin-right: 0.8rem;
}

.text {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    line-height: 1.7;
}

.section__text {
    margin-bottom: 1rem;
}

.section__list {
    list-style: none;
}

.section__list-item:not(:last-child) {
    margin-bottom: 0.5rem; 
}

.section__list-icon {
    margin-right: 0.8rem;
    color: var(--main-color-lighter);
}

.section__social-links {
    text-align: center;
}

.social-link {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    -webkit-transition: color ease-in-out .2s;
         -o-transition: color ease-in-out .2s;
            transition: color ease-in-out .2s;
    margin-right: 0.5rem;
}

.social-link:hover {
    color: var(--main-text-color);
}

.section__button-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}

.section__footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 999;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.section__mobile-footer {
    text-align: center;
}

/* Resume Items */

.section__resume-item {
    padding: 1.5rem 0;
}

.resume-item__date {
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 5px;
    font-family: var(--secondary-font-family);
    font-size: 0.8rem;
    color: var(--secondary-text-color);
    width: max-content;
    margin-bottom: 1rem;
}

.resume-item__date--active {
    color: var(--main-text-color);
    font-weight: 600;
    border-width: 2px;
}

.resume-item__job-title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.3rem;
    font-weight: 600; 
    margin-bottom: 0.5rem;
}

.resume-item__company {
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
}

/* Pies */

.section__pie {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

.section__pie:not(:last-child) {
    margin-bottom: 1.5rem;
}

.pie__circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color-lighter) 0%, var(--elements-background-color) 0%);
    -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 12px), #fff calc(100% - 12px + 1px));
            mask: radial-gradient(farthest-side, transparent calc(100% - 12px), #fff calc(100% - 12px + 1px));
    margin-bottom: 0.5rem;
}

.pie__percentage {
    position: absolute;
    top: calc(110px / 2);
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
}

.pie__title, 
.pie__percentage {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
}

.pie__title {
    font-weight: 600;
    text-align: center;
}

/* Progress bars */

.section__progress-bar:not(:last-child) {
    margin-bottom: 1rem;
}

.progress-bar__title {
    font-family: var(--secondary-font-family);
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.progress-bar__circle {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--elements-background-color);
    -webkit-transition: background-color .5s ease;
         -o-transition: background-color .5s ease;
            transition: background-color .5s ease;
}

/* Contacts */

.contact {
    text-align: center;
}

.contact * {
    -webkit-transition: color ease-in-out .2s;
         -o-transition: color ease-in-out .2s;
            transition: color ease-in-out .2s;
}

.contact:hover * {
    color: var(--main-text-color);
    font-weight: 600;
}

.contact__link {
    font-size: 1.3rem;
    font-family: var(--secondary-font-family);
    color: var(--secondary-text-color);
    
}

.contact__icon {
    font-size: 4rem;
    color: var(--elements-background-color);
    padding-bottom: 1.5rem;
    display: block !important;
}

/* Small devices (landscape phones, 576px and up, sm) 
@media only screen and (min-width: 576px) { } */

/* Medium devices (tablets, 768px and up, md) */
@media only screen and (min-width: 768px) {

    .mobile-menu::before {
        width: 26em;
    }

    .main-section__title, 
    .main-section__subtitle,
    .section__social-links {
        text-align: left;
    }

    .title {
        font-size: 3rem;
    }

    .text {
        font-size: 1.25rem;
    }

    .section__button-links {
        -webkit-box-pack: start;
           -ms-flex-pack: start;
         justify-content: start;
    }

    .progress-bar__circle {
        width: 18px;
        height: 18px;
    }

}

/* Large devices (desktops, 992px and up, lg) */
@media only screen and (min-width: 992px) {

    .section__footer {
        display: block;
    }

    .section__mobile-footer {
        display: none;
    }

    .progress-bar__circle {
        width: 25px;
        height: 25px;
    }

}

@media only screen and (min-width: 1200px) {

    .nav__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
        -webkit-box-pack: center;
           -ms-flex-pack: center;
         justify-content: center;
    }

    .mobile-menu-burger,
    .nav__mobile-menu {
        display: none;
    }

    .mobile-menu__lang-switcher {
        display: none;
    }

    .nav__lang-switcher {
        display: block;
    }

    .container {
        max-width: 1140px;
    }

    .progress-bar__circle {
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up xxl) 
@media only screen and (min-width: 1400px) {} */
